<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Buscador Pelicula</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Se muestra informacion del personaje buscado</h1>
        <br/><br/>
        <a th:href="@{/}">Volver al inicio</a>
        <br/><br/>
        <div>
        <table border="1">
                <tr>
                    <th>imagenPeliculas</th>
                    <th>tituloPeliculas</th>
                    <th>fechaCreacion</th>
                    <th>calificacionPeliculas</th>
                    <th>personajesAsociados</th>
                </tr>
                <tr th:object="${pelicula}">
                    <td><img th:src="@{'/imagenes/' + ${pelicula.imagenPeliculas}}" th:alt="${pelicula.imagenPeliculas}" style="width: 100%;height: 50%;"/></td>
                    <td th:text="${pelicula.tituloPeliculas}">Muestra titulo</td>
                    <td th:text="${pelicula.fechaCreacion}">Muestra fecha de creacion</td>
                    <td th:text="${pelicula.calificacionPeliculas}"> Muestra calificacion</td>
                    <td th:text="${pelicula.personajesAsociados}">Muestra personajes asociados</td>
                </tr>
            </table>
        </div>
    </body>
</html>
